* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background: linear-gradient(217deg, #13142D, rgba(255, 0, 0, 0) 100%),
        linear-gradient(127deg, #13142D, #69AEFF 50.45%),
        linear-gradient(127deg, #FFFFFF, #69AEFF 50.45%);
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

*::-webkit-scrollbar {
    color: transparent;
    cursor: pointer;
}


.botones{
    position: fixed;
    display: flex;
    background-color: #032d5e;
    bottom: 0;
    width: 70vw;
    height: 5rem;
    justify-content: space-evenly;
    left: 50%;
    transform: translateX(-50%);
    font-family: light;
    clip-path: polygon(6% 0, 94% 0, 100% 100%, 0% 100%);
    padding: 0 4%;
}
.icons{
    width: 10%;
    margin-top: 0%;
    background-color: inherit;
    border: none;
    cursor: pointer;
    position: relative;
}
.icons img{
    width: 30%;
}
.icons a{
    text-decoration: none;
}
.icons p{
    margin: 0;
    text-align: center;
    color: white;
}
.actual{
    margin: 0;
}
.actual::after{
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    bottom: 8%;
    border-radius: 2px;
    height: 4%;
    background-color: white;
}
a{
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
    font-size: 1.1rem;
}
#all{
    margin-bottom: 10rem;
    min-height: 100vh;
}
#top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#top div{
    padding: 2rem 1rem;
}
#logotipo img{
    margin-top: -30%;
    width: 25rem;
}
.last_up{
    margin-right: 7rem;
    color: white;
    font-size: clamp(1rem, 3vw, 1.2rem);
    font-weight: bold;
    line-height: 1.5;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
#left{
    border-radius: 20px;
    margin: 0 auto;
    width: 40%;
    border: 1px solid white;
    overflow-x: auto;
    display: flex;
}
#lanzamientos{
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
#logo_name{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 5rem;
    width: 100%;
    margin-top: 1rem;
}
#name{
    color: white;
    font-size: clamp(1.5rem, 4vw, 2rem);
}
#logo img{
    width: 6rem;
}
.details{
    margin: 0 auto;
    font-size: 1.3rem;
    color: white;
    padding: 2rem;
    width: 30rem;
}
#pictures{
    width: 40%;
    margin: 2rem auto;
    border-radius: 40px;
}

.imagenes{
    width: 20vw;
    height: 20vw;
    display: flex;
    overflow-x: scroll;
    gap: 1rem;
    align-items: center;
}
.imagenes img{
    border-radius: 10px;
    width: 20vw;
    height: 15vw;
}
.contenido{
    display: flex;
    justify-content: center;
    margin-left: 10%;
    gap: 2rem;
    font-family: light;
    color: white;
    flex-direction: column;
    margin-top: -40%;
}
#info{
    width: 4rem;
    border: #ffffff solid;
    height: 4rem;
    border-radius: 20px;
    gap: 2rem;
    margin-top: 2rem;
}
p.conte{
    text-align: center;
    margin: 1.5rem 0;
}
h3{
    text-align: center;
}
.paginacion{
    position: absolute;
    position: fixed;
    right: 2rem;   
    bottom: 5rem;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}
.paginacion button{
    color: white;
    padding: 0.5rem 0.7rem;
    background-color: inherit;
    border: none;
}
.paginacion button:hover{
    background-color: #191b3fdf;
}
@media (max-width: 930px) {
    body {
        width: 100%;
        height: auto;
        overflow-y: scroll;
    }
    #logotipo, img{
        width: 10px;
    }
    #right, #import {
        width: 100%;
    }
    #all {
        flex-wrap: wrap;
        width: 100%;
        margin-top: -30%;
    }
    .contenido {
        font-size: 10px;
        margin: 1rem auto;
        width: 90%; 
        flex-direction: column; 
    }
    #info {
        width: 30%;
        height: 5%;
        margin: 0 auto;
    }
    .last_up {
        margin: 0 auto;
        width: 90%;
    }
    #left {
        margin: 0 auto;
        width: 80%;
    }
    #lanzamientos {
        padding: 0;
        margin: 0 auto;
    }
    #details {
        font-size: 0.8rem; 
        width: 80%;
    }
    h4{
        display: flex;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
    }
    .imagenes {
        width: 100%;
        height: 35vw;
    }
    .imagenes img {
        width: 40vw;
        height: 30vw;
    }
    .botones, .icons {
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 70vw; 
        margin-left: 0;
    }
}